rasax
.vscode
__pycache__
*.pyc
instance
.env
db.sqlite3
.DS_Store
*.log
migrations
*.sqlite3
*.pot
*.mo
*.log
*.csv
*.sqlite
*.db
*.sqlite-journal
*.bak
*.swp
*.swo
*.tmp
*.idea
*.iml
*.class
*.jar
*.war
*.ear
paso/glove.6B.100d.txt
paso/glove.6B.200d.txt
paso/glove.6B.300d.txt
paso/glove.6B.50d.txt
